/* article > h1{
	color:  #E47C84;
	font-size: 60px;
	text-align: center;
	margin: 0 2em 0 2em;
} */



main{
   display: flex;
   justify-content: center;
   background-color: #F6EBEA;

} 



.kontakt-container > h1{
	display:column;
	color: #E47C84;
	font-size: 3em;
	margin-bottom: 2em;

}
.section-left{
	margin-top: 5em;
	margin-right: 3em;
}

.section-right{
	margin-top: 5em;
}



