
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.advertise{
	background-color: #F6EBEA;
	display:column;
	height: 40em;
	align-content: center;
	
}

.shop-ad {
	color: #E47C84;
	font-size: 50px;
	font-weight: bolder;
	text-align:center;
	display:flex;
	justify-content: center;
	align-items:flex-end;
	height:6em;
	font-family: 'Urbanist', sans-serif;
}
.shop__p{
	color:rgb(0, 0, 0);
	font-size: 20px;
	font-weight: bold;
	height:6em;
	margin-top: 3em;
	display:flex;
	justify-content: center;
}
/* MAIN CARDS  */


.cards{
	display:flex;
	justify-content: space-around;
	margin: 5em 3em 0 3em;
}

.card-img-top{
max-width: 100%;

}

.card-body{
	display:column;
	align-self: center;
}

.card-title{
	color:#E47C84;
	font-size: 25px;
	margin-top:0.5em;
	

}

.card-price{
	color: black;
	font-size: 25px;
	margin-top:0.5em;
}

