
/* font-family: 'Inter', sans-serif;
font-family: 'Lexend', sans-serif;
font-family: 'Marhey', cursive;
font-family: 'Paytone One', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Urbanist', sans-serif; */

*{
	 margin:0;
	 box-sizing: border-box;
	 font-family: 'Urbanist', sans-serif;

}


.nav-section{
	font-weight: bold;
	display: flex;
	justify-content: space-between;

	
}
.nav-section_text:hover{
	cursor: pointer;

}
a { 
	text-decoration: none; 
	color: #E47C84;
	font-size: 27px;


}

ul {
    list-style-type: none;
	display: flex;
	flex-direction: row;
	margin: 5em 2em;
	flex-wrap: wrap;
	
}
 li{
	margin-left: 2em;
	
 }
 .picture-logo{
	height: 7em;
	margin-top:3em;

 }

 .social-media{
	justify-content: space-around;
	display: flex;
	width: 16em;
	align-items: center;
	color:#E47C84;
	
 }
 .cart{
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: #E47C84; 
	color:white;
	width: 6em;
	height:4em;
	margin-left:2em;
 }

 .cart__p{
	font-size: 30px;
 }
 


/* Second nav-menu  */
.hamburger-menu{
	visibility: hidden;
}
#menu__toggle {
	opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
	transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
	top: 0;
	transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
	left: 0 !important;
  }
  .menu__btn {
	
	position: fixed;
	top: 60px;
	left: 40px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #616161;
	transition-duration: .25s;
  }
  .menu__btn > span::before {
	content: '';
	top: -8px;
  }
  .menu__btn > span::after {
	content: '';
	top: 8px;
  }
  .menu__box {
	display: block;
	position: fixed;
	top: 120px;
	left: -100%;
	width: 300px;
	height: 100%;
	margin: 0;
	padding: 80px 0;
	list-style: none;
	background-color: #ECEFF1;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
	transition-duration: .25s;
  }
  .menu__item {
	display: block;
	padding: 12px 24px;
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	transition-duration: .25s;
  }
  .menu__item:hover {
	background-color: #CFD8DC;
  }

/*	End of Second nav-menu */
@media (max-width: 768px) {
	.picture-logo{
		height: 4em;
		margin-top:3em;
	
	 }
}

@media (max-width: 1309px) {
	

	.menu__box {
		display: block;
		position: fixed;
		top: 120px;
		left: -100%;
		width: 300px;
		height: 100%;
		margin: 0;
		padding: 80px 0;
		list-style: none;
		background-color: #ECEFF1;
		box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
		transition-duration: .25s;
	  }
	.menu__btn {
		visibility: visible;
		position: fixed;
		top: 60px;
		left: 40px;
		width: 26px;
		height: 26px;
		cursor: pointer;
		z-index: 1;
	  }
	  .hamburger-menu{
		visibility: visible;
	}

	.nav-section__text{
		visibility: hidden;
		width: 0px;
		height:0px; 
	}
	.social-media{
		visibility: hidden;
	}
	.cart{
		visibility: visible;
		justify-content: center;
		align-items: center;
		display: flex;
		background-color: #E47C84; 
		color:white;
		width: 4em;
		height:4em;
		
	 }
	 .nav-section__text{
		visibility: hidden;
		width: 0px;
		height:0px; 
	}
	.social-media{
		visibility: hidden;
	}
	.cart{
		visibility: visible;
	}
}


